/* Eléments principaux de la page*/
* 
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body
{
	/*background: url('../images/paper.png');*/
	font-family: "Open-sans", Sans-serif;
	color: #181818;
}

#bloc_page
{
	width: 1200px;
	margin: auto;
}

/* HEADER */

header
{
	background-color: #003040;
	color: #FFFFFF;
}

#bandeau_principal
{
	display: inline-block;
	margin-left: 30px;
}


#logo, #bandeau_principal h1
{
	display: inline-block;
	margin-bottom: 0px;
}

header h1
{
	margin-left: 10px;
	font-size: 3.2em;
}


/* BODY */
section
{
	display: inline-block;
	height: 500px;
	width: 1200px;
	color: #FFFFFF;
}

article, aside
{
	
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

article
{
	background-color: #004050;
	width: 70%;
	height: 100%;
}

aside
{
	background-color: #005060;
	float: right;
	width: 30%;
	height: 100%;
}

article h1, article p, aside h1, aside p
{
	margin-left: 10px;
}


/* FOOTER */
footer
{
	display: inline-block;
	width: 100%;
	background-color: #007080;
	color: #FFFFFF;
}

footer h1
{
	margin-left: 10px;
}

.horizontal-line
{
	display: block;
	height: 1px;
	width: 80%;
	margin-left: 10px;
	background-color: #FFFFFF;
}