/* MENU */
nav
{
	display: inline-block;
	width: 800px;
	text-align: right;
	font-size: 1.5em;
}

nav ul
{
	list-style-type: none; /*Retirer les puces de la liste*/
}

nav li
{
	display: inline-block;
	margin-right: 15px;
}

nav a
{
	color: #FFFFFF;
	padding-bottom: 3px;
	text-decoration: none;
	
}

nav li:hover 
{
	/* Effets quand l'utilisateur sélectionne un élément de la liste*/
	color: #FF7F50;
}